html {
    margin-right: none !important;
}

body {
    font-family:'Heiti SC';
    height: 100%
    margin: 0;
    /*overflow-y: hidden; /* hide veritcal scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
}
  
body::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

* {
    font-family:'Heiti SC';
    position: relative;
}

a {
    color: black !important;
    cursor: pointer;
}

header {
    background-color: white;
}

footer {
    background-color: #D6C685;
    bottom: 0;
    position: fixed;
    width: 100%;
}

section {
    padding-bottom: 60px;
    padding-top: 60px;
}

div#email-box {
    margin-left: 10%;
    margin-right: 10%;
    position: left;
}

div.container {
    display:block;
    margin: auto;
    vertical-align:middle;
}

div.form-container {
    margin-bottom: 5%;
    margin-top: 1%;
}

div#row-3 {
    padding-top: 3%;
}

.form-group {
    max-width: 400%;
    height: 50px;
    align-content: center;
    
    display:block;
    margin: 0 auto;
    vertical-align:middle;
}

input {
    font-size:70%;
    margin-right:1%;
    height: 40px;
    width: 60%;
    
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: #f5f5f5 !important;
}

.btn {
   margin-left:1%;
    color: #fff; /*text color*/
    background-color: #211B1B;
    border-color: #211B1B;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    height: 40px;

    transition: all 0.3s ease 0s;
    cursor: pointer ;
    outline: none;
}

.btn:hover{
     background: #D6C685;
     border-color: #D6C685;
}

h2 { /*Banking for Restaurants*/
    color: #211B1B;
    font-family:'STHeitiSC-Medium', 'Heiti SC medium';
    font-size:400%; 
    text-align: center;
    white-space: nowrap;
}

h3 { /*Second Sentence*/
    color: #211B1B;
    font-family:'STHeitiSC-Light', 'Heiti SC light';
    font-size: 120%;
    font-weight: 100 !important;
    padding-bottom: 25px;
    text-align: center;
}

p#footer {
    color: white;
    font-size: 60%;
    text-align: left;
}

img.background {
    max-width: 70%;
    opacity:0.6;   
    padding-top: 10%;
}

img.logotext {
    background-color:none;
    height: 10%;
    margin-left: 12%;
    width: 10%;  
}

img.product {
    justify-content: center ;
    max-width: 90% !important;
    min-width: auto;
    min-height: auto;
}

.center-section img { /*Centers img.product content inside column*/
    margin: auto;    
    display: block;
    }

@media (max-width: 992px) {
    body {
    overflow: hidden;
    }  
    h2, h3 {
    text-align: center;
    font-family:'STHeitiSC-Light', 'Heiti SC light' !important;
    }
    h2 {
    font-size: 200%;
    }
    h3 {
    font-size: 80%;
    }
    .col-sm-9 {
    max-width: 100%;
    }
    input {
    font-size: 60%;
    }
    .btn {
    font-size:57%;
    }
    button {
    max-width: 20%;
    }
    .justify-content-center {
    justify-content: center ;
    }

    img.product {
    max-width:60%;
    }
    
    .center-section img { /*Centers img.product content inside column*/
    margin: auto;    
    display: block;
    }}
