<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113230407-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113230407-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/index.css" />

    <title>Akos</title>
    <meta name="description" content="Akos - A corporate bank account that gives">
    <meta charset="UTF-8">

  </head>

  <body>

    <header>
      <div class="container-center pt-2">
         <div class="container-fluid container-center container-main">
          <img class="logotext" alt="LogoText" src="../static/akostxt.png"></a>
      </div>
    </header>

    <section class="one">
      <div class="form-container">
      <div class="container-center pt-2">
      
      <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-7 col-md-10 col-sm-10 col-xs-2">
        <div class="short-div">

          <h2>500 - Something broke, it's our fault. :(</h2>
          <h3>Sorry about this, our team has been alerted and they're on it.</h3>
          <h3><a href="{{ url_for('main.index') }}">Go back</a></h3>

        </div>

          <div class="d-none d-lg-block"><div class="short-div"> <img class="background" alt="background" src="../static/background.png"></a></div>
          </div></div>

          <div class="col-lg-5 col-md-9 col-sm-9 col-xs-2 center-section" id="product"><img class="product" alt="doublescreen" src="../static/product.png"></a></div>
  
       </div>

      </div>
      </div>

      </div>
      </div>
	  </section>

   <footer>	
     <div class="container-fluid container-center container-main" id="color-background">
      <p id="footer"></p>
     </div>
   </footer> 

  </body>
</html>
