<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td align="center">
        <img class="waitlist-img" alt="welcome to the Akos Waitlist!" src="/static/waitlist.png"></a>
        <br>
        <p style="text-align: center;"><b>Want priority entry? Share your unique link</b> to friends and business owners to join the waitlist! To get your unique link, go back to our <a href="https://tryakos.com">website</a> and re-enter your email address!</p>
    </td>
    </tr>
</table>


<!-- Can you replace all the content above with the code below? Want to make sure everything is centered, so need to test it! -->

<!--
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td align="center">
        <img class="waitlist-img" alt="welcome to the Akos Waitlist!" src="../static/waitlist.png"></a>
        <br>
        <p style="text-align: center;"><b>Want priority entry? Share your unique link</b> to friends and business owners to join the waitlist! To get your unique link, go back to our <a href="https://tryakos.com">website</a> and re-enter your email address!</p>
        <br>
        <p style="text-align: center;"> Please verify your email address <a href="{{ url_for('main.verify_email', token=token, _external=True) }}">here</a>.</p>
    </td>
    </tr>
</table>
-->
